.contextMenu {
  background: white;
  border-style: solid;
  border-color: #0066cc;
  align-items: left;
  width: 35rem;
  height: auto;
  font-size: 1rem;
}

.contextHeaderText {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.contextAccordinTitle {
  font-size: 14px;
  font-weight: bold;
}

.contextAccordinText {
  font-size: 12px !important;
  padding: 0 0.75rem !important;
}

.contextAccordinButton {
  font-size: 10px;
  padding: 0 0.75rem;
}

.readOnlyTextArea {
  overflow-y: scroll;
  resize: none;
  width: 100%;
  height: 20rem;
  border-color: hsl(0deg, 0%, 64%);
  border-width: 2px;
}
