.pageTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: unset;
  margin-bottom: 0;
  margin-left: -30px;
}

.headerText {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
