.App {
  font-size: 1rem;
}

:root {
  --bs-nav-link-font-size: 18px;
}

.App-link {
  color: #61dafb;
}

code {
  font-size: 12px !important;
}

pre {
  height: 20rem !important;
}

table,
th,
td {
  border: 0.5px solid hsl(0deg, 0%, 69%) !important;
  border-collapse: collapse !important;
  box-shadow: none !important;
}

:focus:not(.focus--mouse) {
  display: none !important;
}

.it-header-slim-wrapper {
  background: #004d99 !important;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}
