.App {
  font-size: 1rem;
}

.App-link {
  color: #61dafb;
}

code {
  font-size: 12px !important;
}

pre {
  overflow-y: scroll !important;
  height: 20rem !important;
}

table,
th,
td {
  border: 0.5px solid hsl(0deg, 0%, 69%) !important;
  border-collapse: collapse !important;
  box-shadow: none !important;
}

:focus:not(.focus--mouse) {
  display: none !important;
}
