name: NPM audit scan

on: 
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  schedule: 
    - cron: '0 9 * * 1'

jobs:
  Run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 20.12.x
      - name: Run audit
        run: >-
            npm audit --audit-level=moderate
